<div class="input-group">
  <span class="input-group-btn">

    <button (click)="cambiarValor(-1)" 
            [ngClass]="btnClass" 
            type="button">
      <i class="fa fa-minus"></i>
    </button>

  </span>
  <input type="text" 
         class="form-control" 
         (ngModelChange)="onChange($event)"
         [(ngModel)]="progreso"
         placeholder="Product name">
  <span class="input-group-btn">
    <button (click)="cambiarValor(1)" class="btn btn-success" type="button"><i class="fa fa-plus"></i> </button>
  </span>
</div>
